@font-face {
    font-family: 'Protest Guerrilla';
    src: url(ProtestGuerrilla-Regular.ttf);
}
  
@font-face {
    font-family: 'Alfa Slab One';
    src: url(AlfaSlabOne-Regular.ttf);
}
  
body{
    font-family: Arial;
    display:flex;
    flex-direction:column;
    height: 100vh;
    margin:0;
    color:#094112;
}
    
header{
    background-color: #6BA2F5;
    flex: 0 5vmin;
    flex-direction: row-reverse;
    display: flex;
    color: #290803;
    align-items: center;
    justify-content: end;
}
  
.title{
    flex: 1;
    padding: 1em;
    text-align: end;
    font-family:"Protest Guerrilla", sans-serif;
    font-size: 5vmin;
    letter-spacing: 0.0275em;
    color:#094112;
    margin-inline-end: 10px;
    margin:auto;
    padding: 15px;
  
}
    
nav{
    display: flex;
    flex: 0 46em;
    align-items: start;
    justify-self: start;
    margin-inline-start: 20px;
}
    
menu{
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    align-items: start;
    justify-content: start;
}
    
li{
    padding: .25em;
    margin: .5em;
    background-color:#B3FBB1;
}

a.nav{
    font-size: 2vmin;
    font-family: "Alfa Slab One", serif;
    font-weight: 500;

}
    
.nav{
    display:inline-block;
    text-align: center;
    border-style: solid;
    border-color: #094112;
    border-width: 5px;
    width: 8em;
    color: #094112;
    text-decoration: none;
}
    
main{
    flex: 1;
    background-color: #e2eecd;
    display:flex;
    flex-direction: column;
    justify-content: start;
    font-size: 17pt;
    background-image: url("placeholder.jpg");
}

img.agencyhead{
    display: none;
}

h2{
    padding: 7vmin;
    font-size: 30pt;
    margin: 0;
    background-color: #b3fbb198;
}

div.agencybod{
    display: flex;
    flex-wrap: wrap-reverse;
}

div.wsmsg{
    flex: 0 300px;
    background-color: #e2eecdde;
}

li.wsmsg{
    font-size: 12pt;
    padding: .5 em;
    background-color: #e2eecd00;
}
li.error{
    font-size:12pt;
    padding: .5 em;
    background-color: #e2eecd00;
    color: #f12424
}

.ui{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.wsmsg{
    list-style-type: none;
    padding: 1em;
}

div.basic{
    flex: 1;
    display:flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    margin-inline-start: 75px;
    margin-block: .5em;
}

h3{
    flex: 0 300px .5em;
    border-radius: 50%;
    background-color: #e2eecd;
    padding: .5em;
    text-align: center;
    font-family: "Alfa Slab One", serif;
    margin-inline-end: auto;
    margin: 1em;
    width: 300px;
    /*TODO: fix text not centered  vertically in little bubble*/
    height: 1.25em;
}

button{
    background-color: #B3FBB1;
    font-size: 14pt;
    font-family: "Alfa Slab One", serif;
    padding: .5em 1em;
    margin: 0 .5em;
    border-radius: 3pt;
    border: solid #094112;
    color: #094112;
}

button.basic {
    flex: 0 300px;
    margin-inline-end: .5em;
    margin: auto 0;
}

div.hospitality, div.attraction, div.travel{
    flex: 1;
    display:flex;
    flex-wrap: wrap;
    width: 50vw;
    justify-content: center;
    margin-inline-start: 75px;
    margin-block: .5em;
}

img.hospitality, img.travel, img.attraction{
    flex: 0 100px;
    max-width: 85px;
    margin: 5px 50px;
}

button.hospitality, button.attraction, button.travel{
    flex: 0 300px;
    margin-inline-end: .5em;
    margin: auto 0 
}

div.travelhead{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
}

div.stats{
    flex: 0 300px;
    margin-inline-start: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

div.confirm{
    display: flex;
    align-items: center;
}

p.confirm{
    flex: 1;
    background-color: #e2eecdde;
    text-align: center;
    padding: .5em;
    margin: .5em;
}

button.confirm{
    margin: .5em
}

#map{
    flex: 1;
    height: 66vmin;
    width: 95vw;
}
    
footer{
    flex: 0 30px;
    background-color: #0C0A7B;
    color: #D1E4F0;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20pt;
}

p{
    margin: 0;
    padding: 0;
}
  
#copyright{
    margin: 0 auto 0 10px ;
}
  
#github{
    color: #D1E4F0;
    border: none;
    text-decoration: underline;
    padding: 0 10px;
    width: auto;
}