@font-face {
  font-family: 'Protest Guerrilla';
  src: url(ProtestGuerrilla-Regular.ttf);
}

@font-face {
  font-family: 'Alfa Slab One';
  src: url(AlfaSlabOne-Regular.ttf);
}

body{
    font-family: Arial;
    display:flex;
    flex-direction:column;
    height: 100vh;
    margin:0;
    color:#094112;
  }
  
  header{
    background-color: #6BA2F5;
    flex: 0 50%;
    flex-direction: column;
    display: flex;
    color: #290803;
    align-items: center;
    text-align: center;
  }

  .title{
    flex: 0 20vmin;
    padding: 0;
    margin:auto;
    text-align: center;
    font-family:"Protest Guerrilla", sans-serif;
    font-size: 20vmin;
    letter-spacing: 0.0275em;
    color:#094112;

  }
  
  nav{
    display: flex;
    flex:1;
    width: 95vw;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  menu{
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding:0;
    align-items: end;
    justify-content: center;
  }
  
  li{
    padding: .25em;
    margin: .25em;
    align-items: center;
    font-size: 4vmin;
    font-family: "Alfa Slab One", serif;
    font-weight: 500;
    background-color:#B3FBB1;
  }
  
  a{
    display:inline-block;
    text-align: center;
    border-style: solid;
    border-color: #094112;
    border-width: 5px;
    width: 8em;
    color: #094112;
    text-decoration: none;
  }
  
  h1{
    padding: .25em 1em;
    margin: 1em;
    margin-left: auto;
  }
  
  main{
    flex: 1;
    background-color: #e2eecd;
    display:flex;
    flex-wrap: wrap;
  }

  section{
    flex:1;
    padding: 1em;
    padding-left: 0.5em;
    font-size: 18pt;
    margin: auto;
  }

  h2{
    font-size: 30pt;
  }

  #news{
    flex: 0 300px;
    margin-left: 1em;
  }

  #newstitle{
    font-size: 28pt;
    text-decoration: underline;
  }
  
  footer{
    flex: 0 30px;
    background-color: #0C0A7B;
    color: #D1E4F0;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 20pt;
  }

  #copyright{
    margin: 0 auto 0 10px ;

  }

  #github{
    color: #D1E4F0;
    border: none;
    text-decoration: underline;
    padding: 0 10px;
    width: auto;
  }